@my-yellow: #ADFF2F;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @my-yellow;
  color: dimgray;
  .margenes(50px, 0px);}

footer {
  padding: 10px 10px 0 10px;
  background-color: @my-yellow;
  .margenes(10px, 0px);}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.carousel-caption {
  padding-bottom: 0; }

.tab-content {
  padding-top: 10px; }
