$my-yellow: #ADFF2F;
@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}
.jumbotron{
  background-color: $my-yellow;
  color: dimgray;
  @include margenes(50px, 0px);
}

footer{
  padding:10px 10px 0 10px;
  background-color: $my-yellow;
  @include margenes(10px, 0px);
}

.card-hotel{
  flex: 1 200px;
  margin-top: 10px;
}

.btn-reserva{
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon{
  padding-right: 10px;
}

.carousel-caption{
  padding-bottom: 0;
}

.tab-content{
  padding-top: 10px;
}