.jumbotron {
  background-color: #ADFF2F;
  color: dimgray;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #ADFF2F;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.carousel-caption {
  padding-bottom: 0; }

.tab-content {
  padding-top: 10px; }
